<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>ChatRoom</h1>

<section class="card">
    <div class="card-header">
        Welcome to ChatRoom
    </div>
    <div class="card-block">
        <p class="card-text">What's your nickname?</p>
        <input class="usernameInput" type="text" maxlength="14" />
    </div>
</section>

<section class="chat page">
    <div class="chatArea">
        <ul class="messages"></ul>
    </div>
    <div class="form-group row">
        <label for="inputMessage" class="col-xs-1 col-form-label">Text</label>
        <div class="col-xs-10">
            <input class="form-control inputMessage" placeholder="Type here..." id="inputMessage"/>
        </div>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>
