<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      p {color: <%= color %>;}
    </style>
  </head>
  <body>

    <% include header %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h3>Incluir valores</h3>
    <%= parrafo %>

    <h3>Sin escapar</h3>
    <%- sinEscapar %>

    <h3> Incluir condiciones</h3>
    <% if (condicion.estado) { %>
      <p><%= condicion.segundo %> es par</p>
    <% } else { %>
      <p><%= condicion.segundo %> es impar</p>
    <% } %>

    <h3>Incluir listas</h3>
    <% users.forEach(function(user) { %>
      <p><%= user.name %></p>
    <% }) %>

  </body>
</html>
